body {
  cursor: context-menu;
}

header {
  top: 0;
  padding: 0;
  font-size: 300%;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  margin: 0;
  bottom: 0;
  width: 100%;
}

#titlescreen {
  background-image: url(../media/title.jpg) ;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 125%;
}

#mainscreen {
  background-image: url(../media/mainscreen.jpg) ;
  background-size: cover;
  font-size: 125%;
}

.text-center {
  text-align: center;
}

.button-start {
  font-size: 250%;
  color: white;
  background-color: #c40f6a;
  padding: 1px 32px;
  border-width: 10px;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}

.button-select {
  font-size: 150%;
  color: white;
  background-color: #ba0028;
  padding: 15px 42px;
  border-width: 10px;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}

.result {
  font-size: 150px;
}

.score {
  color: darkslateblue;
}